{% load tree_menu_tags %}
<html>
	<head>
		<title>{% block WindowTitle %}CBioD{% endblock %}</title>
		{% block CSSLinks %}
			<link href="{{MEDIA_URL}}css/base.css" rel="stylesheet" type="text/css" />
		{% endblock %}
	</head>
	<body>
		<div id="Header">
			<h1>CBioD</h1>
			<div id="BreadCrumbs">
			</div>
			<div id="LoginInformation">
				{% if user.is_authenticated %}
					You are logged in as <b>{{ user.username }}</b>. (<a href="{% url Logout %}">logout</a>)
				{% else %}
					You are not logged in.
				{% endif %}
			</div>
		</div>
		<div id="frame">
			<div id="Navigation">
				{% show_menu "MainMenu" %}
			</div>
			<div id="Content">
				{% block Content %}{% endblock %}
			</div>
		</div>
		<div id="Footer">
			CBioD
		</div>
	</body>
</html>
