<html>
<head>
	<title>{% block Title %}CBioD Database Home{% endblock %}</title>
	<LINK href="/SASK_media/css/base.css" rel="stylesheet" type="text/css">
	{% block CSSLinks %}{% endblock %}
	<style>
	{%block CSS%}{%endblock%}
	</style>
	<script type="text/javascript" src="/SASK_media/js/base/CalendarPopup.js"></script>
	<script type="text/javascript" src="/SASK_media/js/base/base.js"></script>
	{% block JavaScriptLinks %}
	{% endblock %}
	<script>
	{% block JavaScript %}{% endblock %}
	</script>
</head>
<body>
	<div id="CenterColumn">
		<div id="PageTitle">
			{% block PageTitle %}CBioD Database Home{% endblock %}
		</div>
		<div id="LinkBox">
			<a href="{% url Home %}">CBioD Database Home</a>
			|
			<a href="{% url Add %}">Add New Data</a>
			|
			<a href="{% url Edit %}">Edit Existing Data</a>
			|
			<a href="{% url Export %}">Export Data</a>
		</div>
		{% block Content %}{% endblock %}
	</div>
</body>
</html>


