<html>
<head>
	<title>{% block Title %}CBioD Database Home{% endblock %}</title>
	<LINK href="/SASK_media/css/base.css" rel="stylesheet" type="text/css">
	{% block CSSLinks %}{% endblock %}
	<style>
	{%block CSS%}{%endblock%}
	</style>
	<script type="text/javascript" src="/SASK_media/js/base/CalendarPopup.js"></script>
	<script type="text/javascript" src="/SASK_media/js/base/base.js"></script>
	{% block JavaScriptLinks %}
	{% endblock %}
	<script>
	{% block JavaScript %}{% endblock %}
	</script>
</head>
<body>
	<div id="CenterColumn">
		<div id="Topper" style="height:100px;filter: alpha(opacity=100); -moz-opacity: 1;">
		</div>
		<div id="Header">
		CBioD
		</div>
		<div id="PageTitle">
			{% block PageTitle %}CBioD Database Home{% endblock %}
		</div>
		{% block Content %}{% endblock %}
	<div id="Footer">
		
	</div>
		<div id="Bottomer" style="height:100px;filter: alpha(opacity=100); -moz-opacity: 1;">
		</div>
	</div>
</body>
</html>


