<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Flavour
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20080425

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block WindowTitle %}{% endblock %}</title>
<link href="{{ MEDIA_URL }}css/flavour/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="#">{% block Title %}{% endblock %}</a></h1>
		<br/>
		{% if user.is_authenticated %}
		You are logged in as <b>{{ user.username }}</b>. (<a href="{% url Logout %}">logout</a>)
		{% endif %}
	</div>
</div>
<!-- end #header -->
<div id="menu">
	<ul>
	{% block Navigation %}
	{% endblock %}
	</ul>
</div>
<!-- end #menu -->
<div id="page">
	<div id="content">
{% load adminmedia %}
	{% block Content %}{% endblock %}
	{% load navbar %}
	{% navtree %}
	</div>
	<!-- end #content -->
</div>
        <div style="clear: both;">&nbsp;</div>


<!-- end #page -->
<div id="footer">
	<p>CBioD</p>
</div>
<!-- end #footer -->
</body>
</html>
