<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>New Tree Data</title>
<style type="text/css">
<!--
.style1 {font-size: 36px}
-->
</style>
</head>

<body>
    <h1>Enter New Tree Data</h1>
	<p>Last Three Trees Entered</p>
    {% for tree in trees %}
  		<p>Tree Number: {{tree.number}} Suplot: {{tree.subplot}} Species: {{tree.species}} DBH: {{tree.dbh}} Comments: {{tree.comments}}</p>
	{% endfor %}
    
    <p><a href=../../home>Done Entering Trees</a></p>
   
	<form action="." method="POST">
    	<INPUT TYPE=hidden NAME=site_id VALUE="{{ site }}">
        <table>
            {{ form.as_table }}
        </table>
        <INPUT TYPE=hidden NAME=site_id VALUE="{{ site }}">
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>
