<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Trees Home</title>
<style type="text/css">
<!--
.CenteredTitle {
	font-size: 36px;
	align:center;
	margin:0 auto;
	background:white;
	text-align:center;
}

.LinkBox{
	font-size:12pt;
	align:center;
	margin:0 auto;
	background:white;
	text-align:center;
}
-->
</style>
</head>
<body>

<div class="CenteredTitle">
Trees
</div>

<div class="LinkBox">
<a href="add">add a tree</a>
<br/>
<a href="edit">edit a tree</a>
<br/>
<a href="export">export tree data</a>
<br/>
<a href="../home">SASK home</a>
</div>

</body>
</html>

