{% extends "base.html" %}
{% block Title %} {{Title}} {% endblock %}
{% block PageTitle %} {{PageTitle}} {% endblock %}
{% block Content %}
	<div style="margin:0 auto;text-align:left;background-color:light-yellow;border:1px orange solid;padding:5px;width:400px;">
	<form method="POST" action="{{url}}">
		{% for field in Form %}
			{{field.label}}: {{field}}
			{% for error in field.errors %}
				 <span class="Error" style="color:red;">{{error}}</span>
			{% endfor %}
			<br/>
		{% endfor %}
		<input type="submit" value="{{ButtonLabel}}">
	</form>
	<b>{{Message}}</b>
	</div>
{% endblock %}